.cards {
  padding: 0rem;
  background: rgb(64, 58, 132);
  background: linear-gradient(
    90deg,
    rgba(64, 58, 132, 1) 0%,
    rgba(91, 51, 132, 1) 22%,
    rgba(125, 41, 132, 1) 48%,
    rgba(153, 33, 132, 1) 74%,
    rgba(180, 25, 132, 1) 100%
  );
  h1 {
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    padding: 0;
  }
  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  &__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  &__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  &__items {
    margin-bottom: 24px;
    padding: 2rem;
  }

  &__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }

  &__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }

  &__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }

  &__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  &__item__img:hover {
    transform: scale(1.1);
  }
  &__item__info {
    padding: 20px 30px;
    text-align: center;
  }
  &_item__text {
    color: black;
    font-size: 12px;
    line-height: 24px;
  }
  &__links__icon {
    font-size: 2rem;
    color: black;
    padding: 2rem;
  }
  &__links__icon:hover {
    transform: scale(1.5);
    transition: all 0.22s ease-out;
  }
}
.divider img {
  padding-bottom: 3rem;
}

.dots_title {
  color: #fff000;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    letter-spacing: 1rem;
    font-size: 2rem;
  }

  .cards {
    padding: 0;
    &_item__text {
      font-size: 12px;
      line-height: 24px;
    }
    &__links__icon {
      font-size: 2rem;
      padding: 1rem;
    }
    &__items {
      margin-bottom: 24px;
      padding: 2rem 0;
    }

    &__item__info {
      padding: 5px 10px;
      text-align: center;
    }
  }

  h1 {
    text-align: center;
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
  }
}
